{% capture location %}{{ page.url | remove_first:'/' | split:'/' | first }}{% endcapture %}

<h2>Christopher Calascione</h2>
<nav>
    <ul>
        <li><a {% if location == 'about' %}class="active" {% endif %}href="/about/">About</a></li>
        <li><a {% if location == 'projects' %}class="active" {% endif %}href="/projects/">Projects</a></li>
        <li><a {% if location == 'blog' %}class="active" {% endif %}href="/blog/">Blog</a></li>
        <li><a {% if location == 'contact' %}class="active" {% endif %}href="/contact/">Contact</a></li>
    </ul>
</nav>
<ul class='list-unstyled list-inline social-media'>
    <li>
        <a href="#">Github</a>
    </li>
    <li><a href="#">linkedin</a></li>
</ul>
