
.sidebar {
    background-color: black;
    height: 100%;
}

.sidebar h2 {
    margin-top: 150px;
    margin-bottom: 100px;
}

.social-media {
    text-align: center;
    position: relative;
    bottom:0;
}
